// Place all the styles related to the Api::Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.new-update-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: -3px;
}

.event-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: #F5F5F5;
  width: 70%;
  padding: 10px;
  margin-bottom: 60px;
}

.event-form-input {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 300%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.event-form-input-privacy {
  border: 1px solid #E8E8E8;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.privacy-option {
  margin-left: 5px;
  font-weight: 100;
}

.privacy-description {
  color: #7E7E7E;
  font-size: 12px;
}

.event-form-input-description {
  height: 150px;
  border: 1px solid #E8E8E8;
  width: 300%;
  padding: 10px;
  background-color: white;
}

.event-submit {
  background-color: #00AB44;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
}

.start-end-dates {
  display: flex;
}

.event-form-input-date {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 81%;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}

.image-upload-button {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;
  border-top: 1px solid #F5F5F5;
}

.form-publish {
  display: flex;
  justify-content: center;
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 20px;
  width: 10%;
  margin: 30px 20px;
}

.form-title {
display: flex;
font-size: 24px;
margin: 30px 20px;
font-weight: 100;
color: #363A43;
}

.divider {
  width: 100%;
  height: 48px;
  background-color: #45494E;
}

.form-errors {
  border: 1px solid yellow;
}

.event-details-section-header-details {
  display: flex;
  width: 70%;
}

.event-details-section-header {
  display: flex;
  width: 100%;
}

.event-details-num {
  margin: 15px 0px;
  background-color: #0093D7;
  font-size: 36px;
  color: white;
  justify-content: center;
  display: flex;
  width: 44px;
  padding: 5px
}

.event-details-title {
  margin: 15px 0px;
  font-size: 28px;
  color: gray;
  font-weight: 100;
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid gray;
  width: 100%
}

.eventForm-label {
  margin-bottom: 5px;
}

.privacy-radio {
  display: flex;
}

.event-form-dropdown {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 150%;
  height: 45px;
  padding: 10px;
  background-color: white;
  font-size: 20px;
  font-weight: 200;
  border: 1px solid #E8E8E8;
}

.img-url-confirm {
  margin: 15px 0;
}

.form-errors {
  font-weight: bold;
  background-color: white;
  padding: 10px;
  color: black;
}

.form-error-item {
  margin: 5px 0px ;
}

/*event index page*/

.event-index-page {
  display: flex;
  flex-direction: column;
}

.large-splash-image-container {
  display: flex;
  height: 500px;
  position: relative;
  justify-content: center;
  overflow: hidden;
}

.large-splash-image {
  // object-fit: cover;
}

.search-bar-over-background-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80%;
  height: 200px;
  background-color: white;
  left: 10%;
  top: -120px;
  font-size: 40px;
  font-weight: 100;
  color: #F6682F;
  border-radius: 5px
}

.event-index-item {
  display: inline-block;
  width: 33.33%;
  // height: 340px;
  padding: 15px;
  /*white-space: nowrap;*/
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.event-index-item-image-container {
  width: 100%;
  overflow: hidden;
  height: 250px;
}

.event-index-item-image {
  // object-fit: cover;
  height: 250px;

}

.event-index-listings {
  margin-top: 50px;
  display: block;
  margin-left: 103.6px;
  margin-right: 103.6px;
  margin-bottom: 70px;
}

.event-index-item-start {
  color: #7E7E7E;
  font-size: 14px;
}

.event-index-item-title {
  margin: 5px;
  margin-left: 0px;
}

.event-index-item-location {
  font-size: 12px;
  color: #7E7E7E

}

.event-index-item-bookmark-bar {
  border: 1px solid lightgray;
  height: 50px;
  border-top: 0px;
}

.divider-text {
  margin-top: -50px;
  display: flex;
  position: relative;
  justify-content: center;
  font-size: 36px;
  font-weight: 100;
  color: gray
}

.event-index-details-box {
  height: 120px;
  border: 1px solid lightgray;
  letter-spacing: 1px;
  padding: 10px;
  overflow: hidden;
}

/*event show*/

.event-show-page {
  /*width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;*/
}

.event-show-background-image-container {
  width: 100%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.event-show-background-image {
  width: 100%;
  height: 500px;
  -webkit-filter: blur(10px);
}

.event-show-popup {
  /*display: flex;*/
  width: 80%;
  align-items: center;
  border: 1px solid #E8E8E8;
  top: 110px;
  left: 115px;
  position: absolute;
  background-color: white;
  border-radius: 5px;
}

.event-show-popup-header-container {
  display: flex;
  width: 100%;
  height: 340px;
  border-radius: 5px;
}

.event-show-image {
  display: block;
  width: 70%;
  height: 340px;
  // object-fit:cover;
}

.event-show-title-date {
  display: block;
  width: 100%;
  height: 340px;
  background-color: #F5F5F5;
  padding: 25px;
  box-sizing: border-box;
}

.event-show-title {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
}

.event-show-mon {
  color: gray;
  font-weight: 100;
  font-size: 12px;
}

.event-show-date {
  color: gray;
  font-weight: 100;
  font-size: 24px;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.show-divider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid lightgray;
  height: 65px;
  padding: 15px;
  box-sizing: border-box;
}

.show-page-tickets-button {
  background-color: #00AB44;
  padding: 15px;
  color: white;
  width: 27.5%;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
  display: flex;
  justify-content: center;
}

.event-details {
  display: flex;
  box-sizing: border-box;
  padding: 60px 15px;
  margin: 0px 86px 0px 86px;
}

.event-show-description {
  display: flex;
  flex-direction: column;
  width: 580.16px;
}

.event-description-header {
  width: 580.16;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-description {
  width: 75%;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
}

.event-location-time {
  /*width: 345px;*/
  width: 25%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-left: 45px;
}

.event-show-logistic-header {
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  color: #282C35;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.event-show-start-time {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
  margin-bottom: 20px;
}


.event-show-end-time {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
  margin-bottom: 20px;

}

.event-show-location {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #666A73;
  margin-bottom: 20px;

}

.event-form-ticket-creation {
  border: 1px solid lightgray;
  border-radius: 5px;
  width: 100%;
  height: 100px;
  color: #66A73;
  display: flex;
  justify-content: center;

}

.ticket-label {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.event-form-ticket-header {
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px
}

.event-form-ticket-name {
  width: 70%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;
}

.event-form-ticket-quantity {
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;

}

.event-form-ticket-price {
  width: 35%;
  border: 1px solid lightgray;
  border-radius: 5px;
  background-color: white;
  padding: 10px;
  margin: 10px;

}

.ticket-delete-button {
  background-color: #F6682F;
  padding: 5px;
  color: white;
  font-size: 20px;
  margin: 25px;
}

.event-index-filters {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.category-index-filter {
  font-size: 20px;
  padding: 10px;
  padding-left: 20px;
}

.category-index-filter:hover {
  cursor: pointer;
}

.music-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;
}

.food-and-drink-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.classes-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.arts-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.parties-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.sports-and-wellness-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

.networking-index-filter {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
  margin: 10px;
  border-radius: 5px;

}

/*registration modal*/

.show-page-registration-modal {
  /*width: 100%;
  display: flex;
  flex-direction: column;*/
}

.registration-modal {

}

.registration_after_open {
  position: absolute;
  max-width: 1080px;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  max-height: 570px;
  top: 125px;
  left: 22.5%;
  z-index: 3;
  border-radius: 5px;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.registration-modal-header {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px 5px 0 0;
  box-sizing: border-box;
}

.registration-modal-header-text {
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #282C35;
  background-color: #EFF2F5;

}

.registration-modal-body {
  width: 100%;
  height: 286.19px;
  border-left: 1px solid lightgray;
  border-right: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #F5F5F5;
  box-sizing: border-box;
}

.registration-modal-ticket-description {
  width: 50%;
  height: 25px;
  font-size: 15px;
  line-height: 22px;
  font-weight: 400;
  letter-spacing: .5px;
  color: #45494E;
}

.registration-ticket-box {
  width: 100%;
  border: 1px solid lightgray;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: white;
  border-radius: 3px;
  box-sizing: border-box;
}

.registration-modal-footer {
  width: 100%;
  /*height: 20%;*/
  border: 1px solid lightgray;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0 0 5px 5px;
  padding: 15px;
  box-sizing: border-box;
}

.registration-num-tickets {
  border: 1px solid lightgray;
  padding: 5px;
  background-color: white;
}

.registration-close-modal {
  background-color: #EFF2F5;
  color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 26px;
  width: 26px;
  font-size: 20px;
  padding: 5px;
  line-height: 1;
  cursor: pointer;
  position: absolute;
  top: 19px;
  right: 20px;
  z-index: 1;
}

.registration-ticket-information {
  display: flex;
  flex-direction: column;
}

.registration-checkout-button {
  padding: 15px;
  border-radius: 5px;
  color: white;
  background-color: #00ab44;
  text-transform: uppercase;
}

.registration-footer-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
}

.category-filter-title {
  font-size: 40px;
  color: #0278b8;
}

.browse-events-container {
  display: flex;
  justify-content: space-around;
}

.browse-events-category-search {
  width: 800px;
  height: 800px;
  min-width: 30%;
  min-height: 30%;
  border: 1px solid #F5F5F5;
  display: flex;
  flex-direction: column;
  align-items: left;
  background-color: white;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
  margin: 70px;
  padding: 20px;
  margin-right: 0px;
  overflow: hidden;
  box-sizing:border-box;
  /*position: fixed;*/
}

.browse-events-index {
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 70px;
  margin-top: 55px;
}

.browse-event-index-item {
  width: 100%;
  height: 200px;
  display: flex;
  padding: 15px;
  overflow: hidden;
  box-sizing: border-box;
  margin-bottom: 15px;
}

.browse-event-index-item-image-container {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.browse-event-index-item-image {
  // object-fit: cover;
  height: 100%;
}

.browse-event-index-details-box {
  height: 60%;
  border: 1px solid lightgray;
  letter-spacing: 1px;
  padding: 10px;
  overflow: hidden;
}

.browse-event-link-box {
  display: flex;
  height: 100%;
}

.browse-event-index-item-detail-box{
  width: 300%;
  background-color: white;
}

.browse-event-index-item-bookmark-bar {
  display: flex;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  height: 40%;
  background-color: white;

}

.user-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 70px;
}

.user-profile-name {
 height: 20%;
 font-size: 50px;
 background-color: white;
 width: 100%;
 display: flex;
 justify-content: center;
}

.user-profile-tabs {
 /*border: 1px solid black;*/
 height: 20%;
 background-color: white;
 width: 100%;
 display: flex;
 justify-content: center;
}

.user-tab-button {
 padding: 15px;
 margin: 15px;
}

.user-event-index-container {
 width: 80%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin: 20px;
}

.user-event-index {
 width: 100%;
 display: inline-block;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 60%;
 margin-right: 0;
}

.user-event-index-item {
 width: 100%;
 height: 200px;
 display: flex;
 padding: 15px;
 overflow: hidden;
 box-sizing: border-box;
 margin-bottom: 15px;
}

.user-event-index-item-image-container {
 width: 100%;
 overflow: hidden;
 height: 100%;
}

.user-event-index-item-image {
 // object-fit: cover;
 height: 100%;
}

.user-event-index-details-box {
 height: 60%;
 border: 1px solid lightgray;
 letter-spacing: 1px;
 padding: 10px;
 overflow: hidden;
}

.user-event-link-box {
 width: 100%;
 display: flex;
 height: 100%;
}

.user-event-index-item-detail-box{
 width: 300%;
 background-color: white;
}

.user-event-index-item-bookmark-bar {
 display: flex;
 border-bottom: 1px solid lightgray;
 border-right: 1px solid lightgray;
 height: 40%;
 background-color: white;
}
