// Place all the styles related to the Api::Registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.index-registration-ticket-count {
  padding: 15px;
  font-size: 16px;
}

.index-registration-icon {
  margin: 15px;
  display: flex;
  align-items: center;
  margin-right: auto;
}

.fa-calendar {
  font-size: 24px;
}


.show-page-bm-registration {
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.show-registration-icon {
  display: flex;
  justify-content: space-around;
  width: 80%;
  align-items: baseline;
}

.show-registration-ticket-count {
  font-size: 24px;
  letter-spacing: .5px;
}
