// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  height: 61px;
  border-bottom: 1px solid #F5F5F5;
  background-color: white;
}

.rightnav {
  display: flex;
  font-size: 16px;
  color: gray;
  font-family:sans-serif;
  margin: 0;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0px 15px 20px;
  border-right: 1px solid #F5F5F5;
  height: 33px;
  width: 100%;
  color: #f6682f;
  font-family: "Comic Sans MS", sans-serif;
}

.create-event {
  color: #0278b8;
}

.nav {
  display: flex;
  padding: 22px 23px;
  border-left: 1px solid #F5F5F5;

}

.nav:last-child {
  border-right: 0px
}

h3.nav {
 margin: 0;
 border-top: 0px;
 //border-bottom: 0px;
 height: 17px;
}

h3.nav:hover {
  background-color: #F5F5F5;
}

h3.nav:hover:last-child {
  background-color: white;
}

.nav-help {
  width: 33px;
}

.signin-login{
  display: flex;
  flex-direction: column;
  align-items: center;
  /*padding: 20px;*/
  height: 100%;
  width: 100%;
  justify-content:center;
  background-color: white;
  position: relative;
}

.header-font {
  font-weight: normal;
  text-align: center;
}

.login-header {
 font-size: 24px;
 color: gray;
 font-weight: 100;
 padding: 5px;
}

.login-subheader {
 font-size: 14px;
 color: gray;
 font-weight: 100;
 margin-bottom: 20px;
}

.login-img {
  height: 75px;
  width: 75px;
  border-radius: 50%;
  margin: 20px;
  background-color: #F6682F;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-family: "Comic Sans MS", sans-serif;
}

.session-form {
  width: 80%
}

.signin-form {
  width: 60%;
  display: flex;
  align-items: center;
  flex-direction: column
}

.signin-login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signin-login-input {
  border: 1px solid #F5F5F5;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 10px;
  color: black;
  width: 100%
}

.signin-login-input::placeholder {
  color: lightgray;
}

.signin-login-input:focus {
  border: 1px solid #40E0D0;
}

.submit-button {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  background-color: #F6682F;
  color: white;
  padding: 12px;
}

.submit-button:hover {
  background-color: #FD348B;
}

.demo-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 24px;
  width: 48%;
}

.demoLogin {
  display: flex;
  justify-content: center;
  width: 100%;
  border-radius: 15px;
  padding: 5px;
  background-color: #F6682F;
  color: white;
  padding: 12px;
  margin-top: 15px;
}

.demoLogin:hover {
  background-color: #FD348B;
}

.session-errors {
  font-weight: bold;
  margin: 2px;
  color: #F6682F;
}

.additional-info {
  display: flex;
  justify-content: space-between;
  width: 111%;
}

.signin-login-name {
  border: 1px solid #F5F5F5;
  margin: 5px 0px 5px 0px;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 10px;
  color: black;
  width: 80%
}

.signin-login-name:focus {
  border: 1px solid #40E0D0;
}
