/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.new-update-event {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: -3px;
}

.event-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  background-color: lightgray;
  width: 70%;
  padding: 10px;
}

.event-form-input {
  border: 1px solid black;
  margin-bottom: 10px;
  width: 200%;
  padding: 10px;
  background-color: white;
}

.event-submit {
  background-color: #00ab44;
  padding: 15px;
  color: white;
  border-radius: 5px;
  font-weight: 100;
  font-size: 16px;
}

.event-form-input-date {
  display: flex;
  border: 1px solid black;
  margin-bottom: 10px;
  width: 50%;
  padding: 10px;
  background-color: white;
}

.image-upload-button {
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 20px;
}

.form-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  align-items: center;
  /*border-top: 1px solid lightgray;*/
}

.form-publish {
  display: flex;
  justify-content: center;
  background-color: #F6682F;
  padding: 10px;
  color: white;
  font-size: 14px;
  font-weight: lighter;
  border-radius: 20px;
  width: 10%;
  margin: 30px 20px;
}

.form-title {
display: flex;
font-size: 24px;
margin: 30px 20px;
font-weight: 100;
color: #363A43;
}

.divider {
  width: 100%;
  height: 48px;
  background-color: #45494E;
}

.large-splash-image {
  display: flex;
  height: 400px;
  width: 100%;
}

.event-index-item-image {
  width: 25%;

}
