/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */

.map-container {
  height: 100%;
  width: 100%;
  border: 1px solid lightgray;
}

#map {
  height: 500px;
  width: 100%;
}

#searchBar {
  width: 50%;
  background-color: white;
  padding: 20px;
  font-size: 30px;
  margin-left: 10px;
}

.searchResult {
  font-size: 15px;
  padding: 15px;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  border-bottom: 1px solid #F5F5F5;
  
}

.searchResult:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
}

.searchResult:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
}

header ul{
  position: absolute;
  top: 59px;
  left: 10%;
  z-index: 1;
}
