// .ReactModal__Body--open {
//     overflow: hidden;
// }

.form-display {
  width: 80%;
  height: 80%;
}

.close-modal {
background-color: lightgray;
}

.base {

}

.session_after_open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.afterOpen {

}

.beforeClose {

}
